.card {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  cursor: pointer;
}
.photo {
  width: 90px;
  height: 90px;
}
.description {
  display: flex;
  padding-left: 20px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: space-around;
}
#name {
  color: white;
  font-size: 22px;
  font-weight: bold;
  font-family: Verdana;
}
#NIM {
  color: grey;
  font-family: Verdana;
  font-weight: 500;
  font-size: 12px;
  margin-top: 5px;
}
#gambar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
